#content{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

body{
	background:url(https://images.unsplash.com/photo-1472554117599-50e86139f312?dpr=1.100000023841858&amp;auto=format&amp;crop=entropy&amp;fit=crop&amp;w=1500&amp;h=1000&amp;q=80&amp;cs=tinysrgb);
	background-size: cover;
	background-position: center;
	font-family: lato;
	color: white;
} 

hr{
	width: 400px;
}

html{
	height: 100%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


h1{
	font-weight: 700;
	/*makes it 5 times larger than the parent element*/
	font-size: 5em;
}
